.profile-info {
  max-width: 400px;
  margin: auto;
  padding: 20px;
  border: 1px solid #e74c3c;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(231, 76, 60, 0.1);
  margin-top: 20px;
}

.profile-info h2 {
  color: #e74c3c;
}

.profile-info p {
  margin: 10px 0;
}

.profile-info button {
  background-color: #e74c3c;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.profile-info button:hover {
  background-color: #c0392b;
}
